{% extends 'Coder/common.html' %}
{% block content %}
{% load static %}

<div class="dashboard_applied scrollbar_custom w-full bg-surface">
                <div class="container h-fit lg:pt-15 lg:pb-30 max-lg:py-12 max-sm:py-8">
                    <button class="btn_open_popup btn_menu_dashboard flex items-center gap-2 lg:hidden" data-type="menu_dashboard">
                        <span class="ph ph-squares-four text-xl"></span>
                        <strong class="text-button">Menu</strong>
                    </button>
                    <h4 class="heading4 max-lg:mt-3">My Applied</h4>
                    <div class="applied_block mt-7.5 rounded-lg bg-white">
                        <div class="flex flex-wrap items-center justify-between gap-5 pt-6 px-6">
                            <form class="relative w-[340px] h-12">
                                <input type="text" class="w-full h-full pl-4 pr-12 border border-line rounded-lg overflow-hidden" placeholder="Search by keyword" required />
                                <button type="submit" class="absolute top-1/2 -translate-y-1/2 right-4">
                                    <span class="ph ph-magnifying-glass text-xl block"></span>
                                </button>
                            </form>
                            <div class="select_block sm:pr-16 pr-10 pl-3 py-2 border border-line rounded">
                                <div class="select">
                                    <span class="selected caption1 capitalize" data-title="sort by (default)">sort by (default)</span>
                                    <ul class="list_option scrollbar_custom max-h-[200px] p-0 bg-white">
                                        <li class="capitalize" data-item="default">sort by (default)</li>
                                        <li class="capitalize" data-item="title (a -> z)">title (a -> z)</li>
                                        <li class="capitalize" data-item="title (z -> a)">title (z -> a)</li>
                                        <li class="capitalize" data-item="date (newest)">date (newest)</li>
                                        <li class="capitalize" data-item="date (oldest)">date (oldest)</li>
                                        <li class="capitalize" data-item="cost (high to low)">cost (high to low)</li>
                                        <li class="capitalize" data-item="cost (low to high)">cost (low to high)</li>
                                        <li class="capitalize" data-item="status (submitted)">status (submitted)</li>
                                        <li class="capitalize" data-item="status (active)">status (active)</li>
                                        <li class="capitalize" data-item="status (expired)">status (expired)</li>
                                        <li class="capitalize" data-item="status (completed)">status (completed)</li>
                                    </ul>
                                </div>
                                <span class="icon_down ph ph-caret-down right-3"></span>
                            </div>
                        </div>
                        <div class="list overflow-x-auto w-full py-5 px-6 rounded-xl">
                            <table class="w-full max-[1400px]:w-[1200px] max-md:w-[1000px]">
                                <thead class="border-b border-line">
                                    <tr>
                                        <th scope="col" class="px-5 py-4 text-left text-sm font-bold uppercase text-secondary whitespace-nowrap">Title</th>
                                        <th scope="col" class="px-5 py-4 text-left text-sm font-bold uppercase text-secondary whitespace-nowrap">Date Applied</th>
                                        <th scope="col" class="px-5 py-4 text-left text-sm font-bold uppercase text-secondary whitespace-nowrap">Cost/time</th>
                                        <th scope="col" class="px-5 py-4 text-left text-sm font-bold uppercase text-secondary whitespace-nowrap">Status</th>
                                        <th scope="col" class="px-5 py-4 text-right text-sm font-bold uppercase text-secondary whitespace-nowrap">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for i in proposals %}
                                {% if i.status == "Pending" %}
                                    <tr class="item duration-300 hover:bg-background">
                                        <th scope="row" class="p-5 text-left">
                                            <div class="info">
                                                <a href="jobs-detail1.html" class="title heading6 duration-300 hover:underline">{{i.projectid.title}}</a>
                                                <div class="flex flex-wrap items-center gap-4 mt-2">
                                                    <a href="employers-detail1.html" class="employers flex items-center gap-2 text-secondary duration-300 hover:text-primary">
                                                        <img src="../static/media/{{i.projectid.buyerid.photo}}" alt="../static/media/{{i.projectid.buyerid.photo}}" class="flex-shrink-0 w-5 h-5" />
                                                        <span class="employers_name font-normal">{{i.projectid.buyerid.fullname}}</span>
                                                    </a>
                                                  
                                                </div>
                                            </div>
                                        </th>
                                        <td class="p-5 whitespace-nowrap">{{i.date}}</td>
                                        <td class="p-5">
                                            <div class="candidates_price whitespace-nowrap">
                                                <span class="price text-title">$ {{i.projectid.salary}}</span>
                                            </div>
                                        </td>
                                        
                                        <td class="p-5">
                                            <span class="tag bg-opacity-10 bg-features text-features text-button">{{i.status}}</span>
                                        </td>
                                      
                                        <td class="p-5">
                                            <div class="flex justify-end gap-2">
                                                <button class="btn_action btn_open_popup btn_view_job flex items-center justify-center relative w-10 h-10 rounded border border-line duration-300 hover:bg-primary hover:text-white" data-type="modal_view_job">
                                                    <span class="ph ph-eye text-xl"></span>
                                                    <span class="flag absolute -top-10 left-1/2 py-0.5 px-1.5 rounded border border-line bg-white caption1 capitalize text-black whitespace-nowrap">View Job</span>
                                                </button>
                                                <button class="btn_action btn_open_popup btn_delete flex items-center justify-center relative w-10 h-10 rounded border border-line duration-300 hover:bg-primary hover:text-white" data-type="modal_delete">
                                                    <span class="ph ph-trash text-xl"></span>
                                                    <span class="flag absolute -top-10 left-1/2 py-0.5 px-1.5 rounded border border-line bg-white caption1 capitalize text-black whitespace-nowrap">Delete</span>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                      {% endif %}
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        
                    </div>
                </div>
                <div class="lg:fixed bottom-0 left-0 z-[1] lg:pl-[280px] flex items-center justify-center w-full h-15 bg-white duration-300 shadow-md">
                    <span class="copyright caption1 text-secondary">©2024 FreelanHub. All Rights Reserved</span>
                </div>
            </div>

{% endblock %}
