{% extends 'Coder/common.html' %}
{% block content %}
{% load static %}

<div class="dashboard_project scrollbar_custom w-full bg-surface">
                <form class="container h-fit lg:pt-15 lg:pb-30 max-lg:py-12 max-sm:py-8" method="POST" enctype="multipart/form-data">
                {% csrf_token %} 
                    <button class="btn_open_popup btn_menu_dashboard flex items-center gap-2 lg:hidden" data-type="menu_dashboard">
                        <span class="ph ph-squares-four text-xl"></span>
                        <strong class="text-button">Menu</strong>
                    </button>
                    <div class="flex flex-wrap items-center justify-between gap-4">
                        <h4 class="heading4 max-lg:mt-3">Upload Project</h4>
                        <button class="button-main" type="submit">Submit</button>
                    </div>
                    <div class="infomation p-8 mt-7.5 rounded-lg bg-white">
                        <div class="form grid gap-5 mt-5">
                            <div class="title">
                        <h5 class="heading5">Project: {{projects.title}}</h5>
                        <p class="pt-5">Buyer: {{projects.buyerid.fullname}}</p>
                            </div>      
                        </div>
                    </div>
      
                    </div>
                    <div class="upload_portfolio p-8 mt-7.5 rounded-lg bg-white">
                        <h5 class="heading5">Attachments</h5>
                        <div class="multiple-file-section mt-5">
                            <div class="file-previews flex flex-wrap gap-5">
                               <div>
                                    <label for="finalupload" class="caption2 py-1 px-3 rounded bg-line whitespace-nowrap cursor-pointer">Choose File</label>
                                    <input type="file" name="finalupload" id="finalupload" class="caption2 cursor-pointer" />
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="lg:fixed bottom-0 left-0 z-[1] lg:pl-[280px] flex items-center justify-center w-full h-15 bg-white duration-300 shadow-md">
                    <span class="copyright caption1 text-secondary">©2024 FreelanHub. All Rights Reserved</span>
                </div>
            </div>

{% endblock %}
