{% extends 'Buyer/common.html' %}
{% block content %}
{% load static %}
<div class="dashboard_payouts scrollbar_custom w-full bg-surface">
    <div class="container h-fit lg:pt-15 lg:pb-30 max-lg:py-12 max-sm:py-8">
        <button class="btn_open_popup btn_menu_dashboard flex items-center gap-2 lg:hidden" data-type="menu_dashboard">
            <span class="ph ph-squares-four text-xl"></span>
            <strong class="text-button">Menu</strong>
        </button>
        <h4 class="heading4 max-lg:mt-3">Payouts</h4>
        <div class="list_category p-6 mt-7.5 rounded-lg bg-white">
            <h5 class="heading5">Payout settings</h5>
            <ul class="menu_tab overflow-unset max-w-none flex flex-wrap gap-5 mt-5" role="tablist">
                <li class="tab_item" role="presentation">
                    <button
                        class="tab_btn -border -bg flex flex-col items-center gap-1 relative w-[140px] py-4 border border-line rounded duration-300 hover:border-primary active"
                        id="bank_tab01" role="tab" aria-controls="bank_01" aria-selected="true">
                        <span class="ic_type ph-fill ph-bank text-secondary text-4xl duration-300"></span>
                        <span>Bank transfer</span>
                        <span class="ic_check absolute -top-3 -right-3">
                            <span class="ph-fill ph-check-circle text-primary text-xl bg-white rounded-full"></span>
                        </span>
                    </button>
                </li>
                <li class="tab_item" role="presentation">
                    <button
                        class="tab_btn -border -bg flex flex-col items-center gap-1 relative w-[140px] py-4 border border-line rounded duration-300 hover:border-primary"
                        id="paypal_tab02" role="tab" aria-controls="paypal_02" aria-selected="false">
                        <span class="ic_type ph-fill ph-paypal-logo text-secondary text-4xl duration-300"></span>
                        <span>Paypal</span>
                        <span class="ic_check absolute -top-3 -right-3">
                            <span class="ph-fill ph-check-circle text-primary text-xl bg-white rounded-full"></span>
                        </span>
                    </button>
                </li>
            </ul>

            <form class="form grid sm:grid-cols-2 gap-5 mt-5" method="POST" action="/paidcoder/">
                {% csrf_token %}
                <div class="code">
                    <label for="code">Card Number <span class="text-red">*</span></label>
                    <input class="w-full h-12 px-4 mt-2 border-line rounded-lg" id="code" type="text"
                        placeholder="12098865I99" required />
                </div>
                <div class="address">
                    <label for="address">Account Holder Name <span class="text-red">*</span></label>
                    <input class="w-full h-12 px-4 mt-2 border-line rounded-lg" id="address" type="text" />
                </div>
                <div class="city">
                    <label for="city">Card Expiry <span class="text-red">*</span></label>
                    <input class="w-full h-12 px-4 mt-2 border-line rounded-lg" id="city" type="date"
                        placeholder="01/02/2029" required />
                </div>
                <div class="number">
                    <label for="number">CVV <span class="text-red">*</span></label>
                    <input class="w-full h-12 px-4 mt-2 border-line rounded-lg" id="number" type="number"
                        placeholder="344" required />
                </div>
                <input type="hidden" name="project_id" value="{{ project.id }}" />
    <div class="flex items-center col-span-full gap-5 mt-1">
        <button type="submit" class="button-main -border">Proceed to Pay</button>
    </div>
            </form>
        </div>

    </div>
    <div
        class="lg:fixed bottom-0 left-0 z-[1] lg:pl-[280px] flex items-center justify-center w-full h-15 bg-white duration-300 shadow-md">
        <span class="copyright caption1 text-secondary">©2024 FreelanHub. All Rights Reserved</span>
    </div>
</div>
{% endblock %}