{% extends 'Buyer/common.html' %}
{% block content %}
{% load static %}
<div class="dashboard_project scrollbar_custom w-full bg-surface">
                <div class="container h-fit lg:pt-15 lg:pb-30 max-lg:py-12 max-sm:py-8">
                    <button class="btn_open_popup btn_menu_dashboard flex items-center gap-2 lg:hidden" data-type="menu_dashboard">
                        <span class="ph ph-squares-four text-xl"></span>
                        <strong class="text-button">Menu</strong>
                    </button>
                    <div class="flex flex-wrap items-center justify-between gap-4">
                        <h4 class="heading4 max-lg:mt-3">Project Proposals</h4>
                        <div class="flex items-center gap-3">
                            <a href="#!" class="button-main gap-2">
                                <span class="ph ph-box-arrow-down"></span>
                                excel sheet
                            </a>
                            <a href="#!" class="button-main gap-2">
                                <span class="ph ph-box-arrow-down"></span>
                                All CV
                            </a>
                        </div>
                    </div>
                    <div class="mt-7.5 rounded-lg bg-white">
                        <div class="flex flex-wrap items-center justify-between gap-5 pt-5 px-6">
                            <form class="relative w-[340px] h-12">
                                <input type="text" class="w-full h-full pl-4 pr-12 border border-line rounded-lg overflow-hidden" placeholder="Search by keyword" required />
                                <button type="submit" class="absolute top-1/2 -translate-y-1/2 right-4">
                                    <span class="ph ph-magnifying-glass text-xl block"></span>
                                </button>
                            </form>
                            <div class="select_block sm:pr-16 pr-10 pl-3 py-2 border border-line rounded">
                                <div class="select">
                                    <span class="selected caption1 capitalize" data-title="sort by (default)">sort by (default)</span>
                                    <ul class="list_option scrollbar_custom max-h-[200px] p-0 bg-white">
                                        <li class="capitalize" data-item="default">sort by (default)</li>
                                        <li class="capitalize" data-item="candidate name (a -> z)">candidate name (a -> z)</li>
                                        <li class="capitalize" data-item="candidate name (z -> a)">candidate name (z -> a)</li>
                                        <li class="capitalize" data-item="job title (a -> z)">job title (a -> z)</li>
                                        <li class="capitalize" data-item="job title (z -> a)">job title (z -> a)</li>
                                        <li class="capitalize" data-item="status (on hold)">status (on hold)</li>
                                        <li class="capitalize" data-item="status (interviewed)">status (interviewed)</li>
                                        <li class="capitalize" data-item="status (rejected)">status (rejected)</li>
                                        <li class="capitalize" data-item="status (hired)">status (hired)</li>
                                    </ul>
                                </div>
                                <span class="icon_down ph ph-caret-down right-3"></span>
                            </div>
                        </div>
                        <div class="list overflow-x-auto w-full p-5 rounded-xl">
                            <table class="w-full max-[1400px]:w-[1200px] max-md:w-[1000px]">
                                <thead class="border-b border-line">
                                    <tr>
                                        <th scope="col" class="px-5 py-4 text-left text-sm font-bold uppercase text-secondary whitespace-nowrap">Candidates</th>
                                        <th scope="col" class="px-5 py-4 text-left text-sm font-bold uppercase text-secondary whitespace-nowrap">Project Title</th>
                                        <th scope="col" class="px-5 py-4 text-left text-sm font-bold uppercase text-secondary whitespace-nowrap">Date Applied</th>
                                        <th scope="col" class="px-5 py-4 text-left text-sm font-bold uppercase text-secondary whitespace-nowrap">Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for i in proposals %}
                                {% if i.status == "Rejected" %}

                                    <tr class="item duration-300 hover:bg-background">
                                        <th scope="row" class="p-5 text-left">
                                            <div class="info flex items-center gap-3">
                                                <a href="candidates-detail1.html" class="avatar flex-shrink-0 w-15 h-15 rounded-full overflow-hidden">
                                                    <img src="../static/media/{{i.coderid.photo}}" alt="../static/media/{{i.coderid.photo}}" class="w-full h-full object-cover" />
                                                </a>
                                                <a href="candidates-detail1.html" class="block">
                                                    <strong class="candidates_name -style-1 heading6 duration-300 hover:text-primary">{{i.coderid.fullname}}</strong>
                                                    <div class="address flex items-center gap-2 mt-1 text-secondary">
                                                        <span class="ph ph-map-pin text-xl"></span>
                                                        <span class="employers_address font-normal">Las Vegas, USA</span>
                                                    </div>
                                                </a>
                                            </div>
                                        </th>
                                        <td class="p-5 heading6 max-w-60">
                                            <p class="project_name -style-1">{{i.projectid.title}}</p>
                                        </td>
                                        <td class="p-5 whitespace-nowrap">{{i.date}}</td>
                                        <td class="p-5">
                                            <span class="tag bg-opacity-10 bg-red text-red text-button">{{i.status}}</span>
                                        </td>
                                    
                                    </tr>
                                  
                                            </div>
                                        </td>
                                    </tr>
                                    {% endif %}
                                      {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        
                    </div>
                </div>
                <div class="lg:fixed bottom-0 left-0 z-[1] lg:pl-[280px] flex items-center justify-center w-full h-15 bg-white duration-300 shadow-md">
                    <span class="copyright caption1 text-secondary">©2024 FreelanHub. All Rights Reserved</span>
                </div>
            </div>

{% endblock %}
