    {% extends 'Buyer/common.html' %}
    {% block content %}
    {% load static %}


    <div class="active_work p-6 mt-7.5 rounded-lg bg-white">
    <h5 class="heading5">Add Review for {{coder.fullname}}</h5>
        <form method="POST" enctype="multipart/form-data"
            class="container h-fit lg:pt-15 lg:pb-30 max-lg:py-12 max-sm:py-8">
            {% csrf_token %}
            
            <div class="list overflow-x-auto w-full p-10 rounded-xl">

                    <label for="review">Stars:</label>
                    <select id="review" name="review" class="form-control">
                        <option value="1">⭐</option>
                        <option value="2">⭐⭐</option>
                        <option value="3">⭐⭐⭐</option>
                        <option value="4">⭐⭐⭐⭐</option>
                        <option value="5">⭐⭐⭐⭐⭐</option>

                    </select>
        

                <div class="desc col-span-full mt-4">
                    <label for="feedback">Feedback:</label>
                    <input type="text" id="feedback" name="feedback" 
                        class="form-control mt-2 w-full px-4 border-line rounded-lg" 
                        placeholder="Enter Feedback" 
                        style="height:200px; font-size:14px;">
                </div>
                <div class="desc col-span-full mt-4">
                    <button class="button-main m-10" type="submit">Submit Review</button> </div>
            </div>
                </div>
            
        

    
        </form>
    </div>

    {% endblock %}
